/* Reset cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../images/image.png') no-repeat center center/cover;
    background-attachment: fixed;
}

.wrapper {
    width: 420px;
    background: #9fc0de;
    color: #2b1f0a;
    border-radius: 25px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.wrapper h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 800;
}

/* Định dạng các ô nhập liệu */
.input-box {
    position: relative; /* Để icon căn chỉnh theo ô này */
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 0 20px 0 45px; /* Chừa khoảng trống bên trái cho icon */
    font-size: 16px;
    color: #333;
}

/* Căn chỉnh các icon Boxicons */
.input-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #2b1f0a;
}

/* Icon ẩn/hiện mật khẩu nằm bên phải */
#togglePassword {
    left: auto;
    right: 15px;
    cursor: pointer;
}

/* Căn chỉnh dòng Remember me & Forgot Password */
.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.remember-forgot label input {
    accent-color: #5e7b95;
    margin-right: 5px;
}

.remember-forgot a {
    color: #4a0080;
    text-decoration: none;
    font-weight: 600;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

/* Nút bấm Login */
.wrapper .btn {
    width: 100%;
    height: 55px;
    background: #5e7b95;
    border: none;
    outline: none;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    transition: 0.3s;
}

.wrapper .btn:hover {
    background: #4a637a;
    transform: translateY(-2px);
}